.search-container {
  display: flex;
  justify-content: center;

  .search-input {
    width: 70%;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);

    ::ng-deep.mat-form-field-wrapper {
      padding-bottom: 0 !important;
      margin: 0 !important;
    }
  }
}

.search-button {
  padding-left: 1px;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0;
}
